/* Add mobile styles for the component here.  */
TextField {
  border-width: 1;
  font-size: 14;
  padding: 12;
  placeholder-color: #cccccc;
}

Label {
  padding: 4 15;
  font-weight: bold;
}

.message {
  text-align: center;
  font-size: 14;
  font-weight: bold;
  background-color: #332f2c;
  color: #ffffff;
  padding: 12;
  height: 42;
}