/* Add mobile styles for the component here.  */
.input {
  border-width: 1;
  font-size: 14;
  padding: 12;
  /*border-color: #cccccc;
  background-color: #eeeeee;
  placeholder-color: #cccccc;*/
}

.message {
  text-align: center;
  font-size: 14;
  font-weight: bold;
  background-color: #332f2c;
  color: #ffffff;
  padding: 12;
  height: 42;
}